/* .sign-up {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-left: 180px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.input {
    display: block
} */

.sign-up {
    width: 60%;
    text-align: right;
    margin-right: 230px
}