/* .sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    
    }
    
.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

 */
 .sign-in {

    text-align: right;
    
}